<div>
  First Name: {{ first_name }}
</div>
<div>
  Last Name: {{ last_name }}
</div>
<div>
  Refund Reason: {{ refund_reason }}
</div>
<div>
  Company's statement: {{ company_reason }}
</div>
<div>
  Company's notice interval: {{ delay_time }}
</div>
<div>
  Offending Airline: {{ offending_airline }}
</div>
<div>
  Route: {{ route }}
</div>
<div>
  Flight Number: {{ flight_number }}
</div>
<div>
  Optional DescriptioN: {{ optional_description }}
</div>

